Importing Pandas and Numpy.

In [ ]:
import pandas as pd
import numpy as np

Creating Data frame df.

In [ ]:
df = pd.DataFrame(pd.read_csv('train.csv'))
df.head()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
drop_col = df.isnull().sum()[df.isnull()>(35/100*df.shape[0])]
drop_col

Dropping null columns to avoid reoccurance of null value.

In [ ]:
drop_col.index

In [ ]:
df.drop(drop_col.index, axis = 1, inplace = True)
df.isnull().sum()

In [ ]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

In [ ]:
df['Embarked'].describe()

Filling null values as 'S'.

In [ ]:
df['Embarked'].fillna('S', inplace = True)

In [ ]:
df.isnull().sum()

Establishing correlation.

In [ ]:
df.corr()

In [ ]:
df.['FamilySize'] = df['SibSp'] + df['Parch']
df.drop(['SibSp','Parch'], axis = 1, inplace = True)
df.corr

In [ ]:
df.['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

In [ ]:
df.groupby(['Alone'])['Survived'].mean()

In [ ]:
df.[['Alone','Fare']].corr()

In [ ]:
df['Sex'] = [0 if df['Sex'][i] == 'male' else 1 for i in df.index]
df.groupby(['Sex'])['Survived'].mean()

In [ ]:
df.group(['Embarked'])['Survived'].mean()

Conslusions:

Survival was higher for the passangers who were -
*   Travelling with family.
*   Female.
*   Boarding from Cherbourgh.